/* 颜色 */
.r-red {
  background-color: red;
}

.r-blue {
  background-color: blue;
}

.r-green {
  background-color: green;
}

.r-yellow {
  background-color: yellow;
}

.r-gray {
  background-color: gray;
}